.items-container{
    background-image: url("../../images/Group 6.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.header2{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 40%;
    padding-top: 2%;
}

.body-button1{
    width: auto;
    height: auto;
    background-image: linear-gradient(to right,#C898FF, #78A1FF) !important;
    border:0;
    color:white ;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 40% !important;
    margin-bottom: 30px;

}
.body-button1:hover{
    width: auto;
    height: auto;
    font-size: 25px;
    background-image: linear-gradient(to right,#C898FF, #78A1FF) !important;
    border:0;
    color: white;
    margin-left: 40%!important;
    margin-bottom: 30px;
}

