.container-body1{
    margin-top: 100px;
}

.promotion{
    background-color: black;
    border: solid 2px rebeccapurple!important;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

