.image-css{
    width: 60%;
    height: 50%;
}

.items-container{
    margin-top: 20px;
    background-image: url("../../images/Group 6.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.border{
    border: 3px solid white;
    padding: 10px;
    border-radius: 5%;
}