.container{
    overflow: auto;
    margin: 0;
}
.ant-layout-header{
    padding: 0 !important;
    background-image: url("../../images/abstract.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.headerlogo{
    color: white;
    font-size: 30px;
}

.button{
    margin-left: 10px;
    font-size: 15px;
    margin-top: 20px;
    color: white;
    border: solid 1px;
    border-color: mediumpurple!important;
    background: transparent;
}

.button:hover{
    width: 40%;
    height: 50%;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 20px;
    color: white;
    background-image: linear-gradient(to right,#C898FF, #78A1FF) !important;
    border: none;
}


.header_title{
    align-content: center;
    justify-content: center;
    margin-left: 50px;
    font-size: 50px;
    margin-top: 6vh;
}

.title_color{
    color:#dfb000
}
