.main-header-container {
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
    z-index: 5;
}

.main-header {
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    justify-content: space-between;
}

.main-header-container .main-header svg {
    cursor: pointer;
}
